# Add any directories, files, or patterns you don't want to be tracked by version control
*.class
bin/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.classpath
.project
.settings/
*.csv
*.html
/target/
/region/
/region*/
/*.nbt
/*.mclevel
/*_stats.txt
/bedrock
